@font-face {
      font-family: "CustomFont";
      src: url("https://yoursite.com/css/fonts/CustomFont.eot");
      src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
            url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
            url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
}

body{
      margin:0;
}




nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      background: hsla(0, 0%, 100%, .98);
}

main {
      padding-top: 150px;
}

ul {
      display:flex;
      list-style-type: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
}

li {
      padding-left: 50px;

      float: right;
}



a {
      text-decoration: none;
      color: black;
}

a:hover {
      color: #00b39b;
}




.logo {
      margin-left: 150px;
      width: 188px;
      height: 80px;

}

.logo img {
      width: 125px;
      height: 75px;
      margin-top: 5px;
}
.icons {
      display: flex;
      font-size: 30px;
      justify-content: space-evenly;
      margin-right: 75px;
      width: 300px;

}


.search-box {

      border: solid 3px black;
      display: inline-block;
      position: relative;
      border-radius: 50px;
      font-size: 5px;
}

.search-box input[type=text] {
      font-size: 20px;
      font-weight: bold;
      width: 24px;
      height: 24px;
      border: none;
      box-sizing: border-box;
      border-radius: 50px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}

.search-box input[type=text]:focus {
      outline: none;
}

.search-box input[type=text]:focus,
.search-box input[type=text]:not(:placeholder-shown) {
      width: 300px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}





.search-box span {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -13px;
      right: -15px;
      transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}

.search-box span:before {
      content: "";
      height: 15px;
      border-left: solid 3px black;
      position: absolute;
      transform: rotate(-45deg);
}
