body {
      margin: 0;
}




nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      background: hsla(0, 0%, 100%, .98);
      margin: 0;
      width: 100%;
}

main {
      padding-top: 150px;
}

nav ul {
      display: flex;
      list-style-type: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
}

nav li {
      padding-left: 50px;
      float: right;
}



nav a {
      text-decoration: none;
      color: black;
}

a:hover {
      color: #C3A255;
}

.search-box {

      border: solid 3px gray;
      display: inline-block;
      position: relative;
      border-radius: 50px;
      font-size: 5px;
}

.search-box input[type=text] {
      font-size: 20px;
      font-weight: bold;
      width: 24px;
      height: 24px;
      border: none;
      box-sizing: border-box;
      border-radius: 50px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}

.search-box input[type=text]:focus {
      outline: none;
}

.search-box input[type=text]:focus,
.search-box input[type=text]:not(:placeholder-shown) {
      width: 300px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}





.search-box span {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -13px;
      right: -15px;
      transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}

.search-box span:before {
      content: "";
      height: 15px;
      border-left: solid 3px gray;
      position: absolute;
      transform: rotate(-45deg);
}





.logo {
      margin-left: 150px;
      width: 188px;
      height: 80px;

}

.logo img {
      width: 125px;
      height: 75px;
      margin-top: 5px;
}

.icons {
      display: flex;
      
      justify-content: space-evenly;
      margin-right: 75px;
      width: 300px;

}

.flex1{
      display: flex;
      margin-top: 150px;
}
.flex-item{
      flex-grow: 2;
}


.container{
      background-color: #C3A255;
      width: 100%;
      height: 350px;
}

.container2 {
      background-color: #6C6D75;
      height: 450px;
      margin-top:-410px;
      margin-left: -200px;
}



.flex {
      display: flex;
      
      flex-wrap: wrap;
      width: 1100px;
}
.flex2{
      margin-left:-180px;
       display: flex;
}

.card {
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 210px 210px 80px;
      grid-template-areas: "image""text";
      border-radius: 18px;
      background: white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
      font-family: roboto;
      text-align: center;
      transition: 0.5s ease;
      cursor: pointer;
      margin: 30px;

}

.card-image {
      grid-area: image;
}

.card-text {
      grid-area: text;
}




.card-image {
      grid-area: image;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 345px;
      background-repeat: no-repeat;
      background-size: cover;
}

.card-text {
      grid-area: text;
      margin: 15px;
      color: gray;
      margin-top: 160px;
}


.card:hover {
      transform: scale(1.15);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}



/*    FAQ Section CSS */


* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: Arial;
      font-weight: normal;
      list-style: none;
      text-decoration: none;
      outline: 0px;
      transition: all linear 0.2s;
}

* body h1 {
      font-size: 1.2em;
}

* body p {
      font-size: 1em;
}

.global {
      width: 100%;
      float: left;
      background-image: url(https://viajeibonito.com.br/wp-content/uploads/2017/05/notebook-home-office.jpg);
      background-size: cover;
      background-position: center;
      margin-top: 150px;
}

.global .container-pai {
      width: 100%;
      padding: 5%;
      float: left;
      background-color: rgba(20, 35, 56, 0.82);
}

.global .container-pai .intro {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.global .container-pai .intro .center {
      padding: 2% 0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.global .container-pai .intro .center h1 {
      font-weight: bold;
      font-size: 1.2em;
      color: #fff;
      margin-bottom: 3.5%;
}

.global .container-pai .intro .center p {
      color: #999;
      font-style: italic;
}

.global .container-pai .intro .center:after {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      margin-top: 5%;
      background-color: #BE9242;
}

.global .container-pai .container-content {
      width: 100%;
      float: left;
      margin-top: 7%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.global .container-pai .container-content .container-questions {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.global .container-pai .container-content .container-questions ul {
      width: 100%;
      margin-bottom: 6%;
}

.global .container-pai .container-content .container-questions ul li {
      border-top: solid 1px #999;
      border-bottom: solid 1px #999;
      border-right: solid 1px #999;
      border-radius: 3px;
      margin-bottom: 2%;
}

.global .container-pai .container-content .container-questions ul li a {
      border-left: solid 3px #BE9242;
      border-radius: 3px 3px 3px 3px;
      padding: 3%;
      display: block;
      color: #fff;
}

.global .container-pai .container-content .container-questions ul li a:hover {
      background-color: #fff;
      color: #333;
}

.global .container-pai .container-content .container-btn {
      width: 100%;
      float: left;
      padding: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.global .container-pai .container-content .container-btn a {
      width: 280px;
      display: block;
      text-align: center;
      color: #fff;
      padding: 2%;
      border-radius: 3px;
      border: solid 2px #fff;
}

.global .container-pai .container-content .container-btn a:hover {
      background-color: #fff;
      color: #333;
}

@media (min-width: 700px) {
      .global {
            height: 100vh;
      }

      .global .container-pai {
            height: 100vh;
      }

      .global .container-pai .container-content {
            margin-top: 4%;
      }

      .global .container-pai .container-content .container-questions {
            flex-direction: row;
            justify-content: space-between;
      }

      .global .container-pai .container-content .container-questions ul {
            width: 47%;
            margin-bottom: 3%;
      }
}

@media (min-width: 1000px) {
      .global .container-pai {
            padding: 2.5% 5%;
      }

      .global .container-pai .intro .center h1 {
            font-size: 1.6em;
      }

      .global .container-pai .intro .center p {
            font-size: 1.2em;
      }

      .global .container-pai .container-content {
            margin-top: 2%;
      }

      .global .container-pai .container-content .container-questions {
            flex-direction: row;
            justify-content: space-between;
      }

      .global .container-pai .container-content .container-questions ul {
            width: 47%;
            margin-bottom: 2%;
      }

      .global .container-pai .container-content .container-btn a {
            padding: 1%;
      }
}


/* Footer */



ul {
      list-style: none;
      padding-left: 0;
}

footer {
      background-color: #555;
      color: #bbb;
      line-height: 1.5;
}

footer a {
      text-decoration: none;
      color: #eee;
}

a:hover {
      text-decoration: underline;
}

.ft-title {
      color: #fff;
      font-family: "Merriweather", serif;
      font-size: 1.375rem;
      padding-bottom: 0.625rem;
      display: block;
      margin-left: 50px;
      margin-right: auto;
}



/* Footer main */
.ft-main {
      padding: 1.25rem 1.875rem;
      display: flex;
      flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

      /* 477px */
) {
      .ft-main {
            justify-content: space-evenly;
      }
}

@media only screen and (min-width: 77.5rem

      /* 1240px */
) {
      .ft-main {
            justify-content: space-evenly;
      }
}

.ft-main-item {
      padding: 1.25rem;
      min-width: 12.5rem;
}

.ft-main-item ul {
      display: flex;
      flex-direction: column;
}

/* Footer main | Newsletter form */
form {
      display: flex;
      flex-wrap: wrap;
}

input[type="email"] {
      border: 0;
      padding: 0.625rem;
      margin-top: 0.3125rem;
}

input[type="submit"] {
      background-color: #C3A255;
      color: #fff;
      cursor: pointer;
      border: 0;
      padding: 0.625rem 0.9375rem;
      margin-top: 0.3125rem;
}

/* Footer social */
.ft-social {
      padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
      display: flex;
      justify-content: center;
      border-top: 1px #777 solid;
      padding-top: 1.25rem;
}

.ft-social-list li {
      margin: 0.5rem;
      font-size: 2.25rem;
}

/* Footer legal */
.ft-legal {
      padding: 0.9375rem 1.875rem;
      background-color: #333;
}

.ft-legal-list {

      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-right: 560px;
      text-align: center;
      padding-bottom: 25px;
      font-size: 16px;
}

.ft-legal-list li {
      margin: 0.125rem 0.625rem;
      white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
      flex: 1;
}




/* popup css */


.login-popup {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1099;
      background-color: rgba(0, 0, 0, 0.6);
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease;
}

.login-popup.show {
      visibility: visible;
      opacity: 1;
}

.login-popup .box {
      background-color: #ffffff;
      width: 750px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      margin-left: 50px;
      transition: all 1s ease;

}

.login-popup.show .box {
      opacity: 1;
      margin-left: 0;
}

.login-popup .box .img-area {
      flex: 0 0 50%;
      max-width: 50%;
      position: relative;
      overflow: hidden;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.login-popup .box .img-area h1 {
      font-size: 30px;
}

.login-popup .box .img-area .img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url('img/bg.png');
      background-size: cover;
      background-position: center;
      animation: zoomInOut 7s linear infinite;
      z-index: -1;

}

@keyframes zoomInOut {

      0%,
      100% {
            transform: scale(1);
      }

      50% {
            transform: scale(1.1);
      }
}

.login-popup .box .form {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 40px 30px;
}

.login-popup .box .form h1 {
      color: #000000;
      font-size: 30px;
      margin: 0 0 30px;
}

.login-popup .box .form .form-control {
      height: 45px;
      margin-bottom: 30px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #cccccc;
      font-size: 15px;
      color: #000000;
}

.login-popup .box .form .form-control:focus {
      outline: none;
}

.login-popup .box .form label {
      font-size: 15px;
      color: #555555;
}

.login-popup .box .form .btn {
      width: 100%;
      background-color: #C39A51;
      margin-top: 40px;
      height: 45px;
      border: none;
      border-radius: 25px;
      font-size: 15px;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
}

.login-popup .box .form .btn:focus {
      outline: none;
}

.login-popup .box .form .close {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 30px;
      cursor: pointer;
}

/*responsive*/
@media(max-width: 767px) {
      .login-popup .box {
            width: calc(100% - 30px);
      }

      .login-popup .box .img-area {
            display: none;
      }

      .login-popup .box .form {
            flex: 0 0 100%;
            max-width: 100%;
      }
}
