body {
      margin: 0;
      padding: 0;
      background-image: url(bg.jpg); 
      background-size: cover;
      font-family: "Comfortaa", sans-serif;
}

nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      background:rgba(.0, .0, .0, 0.5);
      margin: 0;
      width: 100%;
}



nav ul {
      display: flex;
      list-style-type: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
}

nav li {
      padding-left: 50px;
      float: right;
      
}



nav a {
      text-decoration: none;
      color: gray;
}

a:hover {
      color: #C3A255;
}


.logo {
      margin-left: 150px;
      width: 188px;
      height: 80px;

}

.logo img {
      width: 125px;
      height: 75px;
      margin-top: 5px;
}


.login {
      width: 320px;
      height: 420px;
      border: 2px solid rgb(49, 47, 47);
      border-radius: 80px 0px 80px 0px;
      color: #FAFAFA;
      background-color: rgba(0, 0, 5, 0.8);
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 68px 28px;
}

.user {
     
      position: absolute;
      top: -50px;
      left: 112px;
}

h1 {
      margin: 0;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 20px;
      letter-spacing: 10px;
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
}

.login p {
      margin: 0;
      padding: 0;
      font-weight: bold;
}

.login input {
      width: 100%;
      margin-bottom: 21px;
}

.login input[type="text"],
input[type="password"] {
      border: none;
      border-bottom: 5px solid #BF9548;
      background: transparent;
      outline: none;
      height: 40px;
      color: gray;
      font-size: 16px;
}

.login input[type="submit"] {
      border: none;
      outline: none;
      height: 35px;
      color: gray;
      background: #FAFAFA;
      border-radius: 20px;
      transition: 0.2s;
}

.login input[type="submit"]:hover {
      cursor: pointer;
      background: #BF9548;
      transition: 0.2s;
}

.login a {
      font-weight: bold;
      text-decoration: none;
      font-size: 12px;
      line-height: 30px;
      color: #4b4b4b;
      transition: 0.1s;
}

.login a:hover {
      transition: 0.2s;
      color: #BF9548;
}

.login img{
      margin-top: 32px;
}